# Settings
src/config.json
*.env
auth_info_baileys/
baileys_store_multi.json

# Yarn
.pnp.*
.yarn*

# Builds
Build/
node_modules/

# Logs / Lokefiles
Test/
*lock.json
*.lock
*.log
logs/