# Settings
baileys_store_multi.json
**/Prisma/migrations
**/config.json
*.env
auth/

# Yarn
.pnp.*
.yarn*

# Builds
node_modules/
build/

# Logs / Lokefiles
*lock.json
**/*.log
*.lock*
temp/*
logs/*