# Settings
**/config.json
*.env
auth/
**/Prisma/migrations
baileys_store_multi.json

# Yarn
.pnp.*
.yarn*

# Builds
build/
node_modules/

# Logs / Lokefiles
temp/*
*lock.json
*.lock
**/*.log
logs/